@font-face {
    font-family: 'Keregal';
    src: url('Keregal.woff2') format('woff2'),
         url('Keregal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
